[Unit]
Description=kbsbot
Documentation=https://kbsbot
#Requires= postgresql.service

[Service]
ExecStart=/usr/local/bin/kbsbot -f
ExecStop=/usr/bin/pkill kbsbot
Restart=always

[Install]
WantedBy=multi-user.target
